- name: Membuat Tunnel Ngrok
      run: |
        Start-Process powershell -ArgumentList "-NoExit -Command 'ngrok tcp 3389'"
        Start-Sleep -Seconds 10
    - name: Tampilkan URL RDP
      run: |
        $Response = Invoke-RestMethod -Uri http://localhost:4040/api/tunnels
        $PublicUrl = $Response.tunnels.public_url
        Write-Host "=========================================="
        Write-Host "ALAMAT RDP KAMU: $PublicUrl"
        Write-Host "=========================================="
    - name: Menjaga RDP Tetap Aktif
      run: |
        $i = 360
        do {
            Write-Host "Sisa waktu: $i menit"
            Start-Sleep -Seconds 60
            $i--
        } while ($i -gt 0)
