name: GitHub-RDP

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Mendownload Ngrok & Setup RDP
      run: |
        Invoke-WebRequest https://bin.equinox.io/c/b342Pueeb2T/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
        Expand-Archive ngrok.zip
    - name: Mengautentikasi Ngrok
      run: .\ngrok\ngrok.exe authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
    - name: Mengaktifkan Akses RDP
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1
    - name: Membuat Tunnel Ngrok
      run: Start-Process Powershell -ArgumentList '-NoExit -Command ".\ngrok\ngrok.exe tcp 3389"'
    - name: Menjaga RDP Tetap Aktif
      run: |
        echo "RDP Berhasil Dibuat!"
        echo "Username: runneradmin"
        echo "Password: Password yang kamu buat di Windows (atau default runner)"
        cmd /c loop.bat
