name: GitHub-RDP

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Instalasi Ngrok
      run: choco install ngrok
    - name: Mengautentikasi Ngrok
      run: ngrok config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
    - name: Mengatur Password RDP
      run: net user runneradmin ${{ secrets.USER_PASSWORD }}
    - name: Mengaktifkan Akses RDP
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1
    - name: Membuat Tunnel Ngrok
      run: |
        Start-Process ngrok -ArgumentList "tcp 3389"
    - name: MENDAPATKAN ALAMAT RDP
      run: |
        $attempts = 0
        $PublicUrl = ""
        while ($attempts -lt 10 -and -not $PublicUrl) {
          Start-Sleep -Seconds 10
          try {
            $Response = Invoke-RestMethod -Uri http://localhost:4040/api/tunnels
            $PublicUrl = $Response.tunnels.public_url
          } catch {
            Write-Host "Menunggu Ngrok siap... (Percobaan $((++$attempts)))"
          }
        }
        Write-Host "=========================================="
        Write-Host "ALAMAT RDP ANDA: $PublicUrl"
        Write-Host "=========================================="
    - name: Menjaga RDP Tetap Aktif
      run: |
        Write-Host "RDP Berhasil Aktif!"
        $i = 360
        do {
            Write-Host "Sisa waktu: $i menit"
            Start-Sleep -Seconds 60
            $i--
        } while ($i -gt 0)
