name: GitHub-RDP

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Instalasi Ngrok
      run: choco install ngrok
    - name: Mengautentikasi Ngrok
      run: ngrok config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
    - name: Mengatur Password RDP
      run: net user runneradmin ${{ secrets.USER_PASSWORD }}
    - name: Mengaktifkan Akses RDP
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
    - name: Membuat Tunnel Ngrok
      run: |
        # Menjalankan ngrok di background dan menyimpan log ke file
        Start-Process ngrok -ArgumentList "tcp 3389 --log=stdout" -RedirectStandardOutput "ngrok.log"
    - name: MENDAPATKAN ALAMAT RDP
      run: |
        Start-Sleep -Seconds 20
        $Response = Invoke-RestMethod -Uri http://localhost:4040/api/tunnels
        $PublicUrl = $Response.tunnels.public_url
        if ($PublicUrl) {
          Write-Host "=========================================="
          Write-Host "ALAMAT RDP ANDA: $PublicUrl"
          Write-Host "=========================================="
        } else {
          Write-Host "Gagal mendapatkan URL. Menampilkan log Ngrok:"
          Get-Content ngrok.log
        }
    - name: Menjaga RDP Tetap Aktif
      run: |
        $i = 360
        do {
            Write-Host "Sisa waktu: $i menit"
            Start-Sleep -Seconds 60
            $i--
        } while ($i -gt 0)
